<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="online dataConnectionString" connectionString="Data Source=PERSONAL-PC;Initial Catalog=&quot;online data&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="onlinedataConnectionString" connectionString="Data Source=PERSONAL-PC;Initial Catalog=onlinedata;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
